Make.com/Automate Email Inbox Management/Email to Airtable Automation.json
{
    "name": "Integration Email",
    "flow": [
        {
            "id": 2,
            "module": "email:TriggerNewEmail",
            "version": 7,
            "parameters": {
                "to": "",
                "from": "",
                "text": "",
                "folder": "INBOX",
                "account": 123456,
                "subject": "",
                "criteria": "ALL",
                "markSeen": false,
                "maxResults": 5
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "folder": {
                            "path": [
                                "INBOX"
                            ]
                        },
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection (user@example.com)"
                        },
                        "criteria": {
                            "label": "All emails"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:imap,google-restricted,microsoft-smtp-imap",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "criteria",
                        "type": "select",
                        "label": "Criteria",
                        "required": true,
                        "validate": {
                            "enum": [
                                "ALL",
                                "SEEN",
                                "UNSEEN"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "email",
                        "label": "Sender email address"
                    },
                    {
                        "name": "to",
                        "type": "email",
                        "label": "Recipient email address"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Phrase"
                    },
                    {
                        "name": "markSeen",
                        "type": "boolean",
                        "label": "Mark message(s) as read when fetched"
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    },
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "folder",
                        "type": "folder",
                        "label": "Folder",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 100001
            },
            "mapper": {
                "base": "app123456789xyz",
                "table": "tbl987654321xyz",
                "fields": [
                    "Email",
                    "Label",
                    "EmailsReceived",
                    "Entities"
                ],
                "formula": "{Email} = \"{{2.from.address}}\"",
                "maxRecords": "10",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Example Management"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Emails"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "Email",
                                "Label",
                                "EmailsReceived",
                                "Entities"
                            ]
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "My Airtable OAuth connection (User ID: usr123abc456def)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Label",
                        "type": "text",
                        "label": "Label"
                    },
                    {
                        "name": "EmailsReceived",
                        "type": "number",
                        "label": "EmailsReceived"
                    },
                    {
                        "name": "Entities",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Entities"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "airtable:ActionCreateRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 100001
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.`__IMTLENGTH__`}}",
                                            "b": "0",
                                            "o": "number:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "base": "app123456789xyz",
                                "table": "tbl987654321xyz",
                                "record": {
                                    "fldabc123xyz": {},
                                    "flddef456xyz": "{{2.from.address}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Example Management"
                                        },
                                        "table": {
                                            "label": "Emails",
                                            "nested": [
                                                {
                                                    "name": "record",
                                                    "spec": [
                                                        {
                                                            "name": "flddef456xyz",
                                                            "type": "text",
                                                            "label": "Email"
                                                        },
                                                        {
                                                            "name": "fld7pR5KQ4Y4d3AGp",
                                                            "type": "text",
                                                            "label": "Notes",
                                                            "multiline": true
                                                        },
                                                        {
                                                            "name": "fldabc123xyz",
                                                            "spec": [
                                                                {
                                                                    "help": "Unique user id",
                                                                    "name": "id",
                                                                    "type": "text",
                                                                    "label": "ID"
                                                                },
                                                                {
                                                                    "help": "User's email address",
                                                                    "name": "email",
                                                                    "type": "email",
                                                                    "label": "Email"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Assignee"
                                                        },
                                                        {
                                                            "mode": "edit",
                                                            "name": "fldxyz789abc",
                                                            "type": "select",
                                                            "label": "Status",
                                                            "dynamic": true,
                                                            "options": [
                                                                {
                                                                    "label": "Todo",
                                                                    "value": "Todo"
                                                                },
                                                                {
                                                                    "label": "In progress",
                                                                    "value": "In progress"
                                                                },
                                                                {
                                                                    "label": "Done",
                                                                    "value": "Done"
                                                                }
                                                            ],
                                                            "validate": false
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Record"
                                                }
                                            ]
                                        },
                                        "record": {
                                            "nested": {
                                                "fldxyz789abc": {
                                                    "mode": "edit"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "My Airtable OAuth connection (User ID: usr123abc456def)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "flddef456xyz",
                                                "type": "text",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "fld7pR5KQ4Y4d3AGp",
                                                "type": "text",
                                                "label": "Notes"
                                            },
                                            {
                                                "name": "fldabc123xyz",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "email",
                                                        "type": "email",
                                                        "label": "Email"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Assignee"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldxyz789abc",
                                                "type": "select",
                                                "label": "Status"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Email",
                                        "type": "text",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "Notes",
                                        "type": "text",
                                        "label": "Notes",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Assignee",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "email",
                                                "type": "email",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Assignee"
                                    },
                                    {
                                        "name": "Status",
                                        "type": "text",
                                        "label": "Status"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 5,
                            "module": "email:ActionMoveEmail",
                            "version": 7,
                            "parameters": {
                                "account": 123456
                            },
                            "mapper": {
                                "id": "{{2.id}}",
                                "folder": "INBOX",
                                "destinationFolder": "New Senders"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "folder": {
                                            "mode": "chose",
                                            "path": [
                                                "INBOX"
                                            ]
                                        },
                                        "destinationFolder": {
                                            "mode": "chose",
                                            "path": [
                                                "New Senders"
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "My Google Restricted connection (user@example.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:imap,google-restricted,microsoft-smtp-imap",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "folder",
                                        "type": "folder",
                                        "label": "Source folder",
                                        "required": true
                                    },
                                    {
                                        "name": "destinationFolder",
                                        "type": "folder",
                                        "label": "Destination folder",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "number",
                                        "label": "Email ID (UID)",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 100001
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.`__IMTLENGTH__`}}",
                                            "b": "0",
                                            "o": "number:greater"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "id": "{{3.id}}",
                                "base": "app123456789xyz",
                                "table": "tbl987654321xyz",
                                "record": {
                                    "fldghi789xyz": "{{now}}",
                                    "fldjkl012xyz": "{{3.EmailsReceived + 1}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Example Management"
                                        },
                                        "table": {
                                            "label": "Emails"
                                        },
                                        "record": {
                                            "nested": {
                                                "fldxyz789abc": {
                                                    "mode": "edit"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "My Airtable OAuth connection (User ID: usr123abc456def)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "flddef456xyz",
                                                "type": "text",
                                                "label": "Email"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldxyz789abc",
                                                "type": "select",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "fldjkl012xyz",
                                                "type": "number",
                                                "label": "EmailsReceived"
                                            },
                                            {
                                                "name": "fldghi789xyz",
                                                "time": true,
                                                "type": "date",
                                                "label": "LastEmailReceivedDate"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Email",
                                        "type": "text",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "Label",
                                        "type": "text",
                                        "label": "Label"
                                    },
                                    {
                                        "name": "EmailsReceived",
                                        "type": "number",
                                        "label": "EmailsReceived"
                                    },
                                    {
                                        "name": "LastEmailReceivedDate",
                                        "time": true,
                                        "type": "date",
                                        "label": "LastEmailReceivedDate"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "email:ActionMoveEmail",
                            "version": 7,
                            "parameters": {
                                "account": 123456
                            },
                            "mapper": {
                                "id": "{{2.id}}",
                                "folder": "INBOX",
                                "destinationFolder": "{{3.Label}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "folder": {
                                            "mode": "chose",
                                            "path": [
                                                "INBOX"
                                            ]
                                        },
                                        "destinationFolder": {
                                            "mode": "edit",
                                            "path": []
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "My Google Restricted connection (user@example.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:imap,google-restricted,microsoft-smtp-imap",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "folder",
                                        "type": "folder",
                                        "label": "Source folder",
                                        "required": true
                                    },
                                    {
                                        "name": "destinationFolder",
                                        "type": "folder",
                                        "label": "Destination folder",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "number",
                                        "label": "Email ID (UID)",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com"
    }
}